@charset 'UTF-8';

@import 'variables';

.pc {
  &-wrapper {
    display: inline-block;
    vertical-align: top;
    padding: $pc-wrapper-padding;
    background: $pc-wrapper-background;
    border-radius: $pc-border-radius;
    box-shadow: $pc-wrapper-box-shadow;
    font-family: $pc-font-family;
    font-size: $pc-font-size;

    & * {
      box-sizing: border-box;
    }
  }

  &-container {
    width: 255px;
    max-width: 265px;
  }

  &-row {
    display: flex;
  }

  &-form-group {
    width: 100%;
    font-weight: $pc-form-group-font-weight;

    &:not(:last-child) {
      padding-right: $pc-form-group-gap;
    }

    & > * {
      margin-top: $pc-form-group-spacing;
    }
  }

  &-input {
    display: block;
    width: 100%;
    padding: $pc-input-padding-y 0;
    padding-left: $pc-input-padding-x;
    font-size: $pc-input-font-size;
    border-style: $pc-input-border-style;
    border-width: $pc-input-border-width;
    border-color: $pc-input-border-color;
    border-radius: $pc-border-radius;
    transition: $pc-input-transition;
  
    &:focus,
    &:active {
      outline: none;
      border-color: $pc-input-border-color-focus;
      box-shadow: $pc-input-box-shadow-focus;
    }
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $pc-controls-padding-y $pc-controls-padding-x;
  }

  &-pointer {
    width: $pc-pointer-width;
    height: $pc-pointer-height;
    padding: $pc-pointer-padding-y $pc-pointer-padding-x;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: $pc-pointer-border-radius;
    border-width: $pc-pointer-border-width;
    border-style: $pc-pointer-border-style;
    border-color: $pc-pointer-border-color;
    cursor: pointer;
    opacity: $pc-pointer-opacity;
    transition: $pc-pointer-transition;

    &-left {
      background-image: $pc-pointer-left-background-image;
    }

    &-right {
      background-image: $pc-pointer-right-background-image;
    }

    &:hover {
      opacity: $pc-pointer-opacity-hover;
    }

    &:focus,
    &:active {
      outline: none;
      opacity: $pc-pointer-opacity-focus;
      border-color: $pc-pointer-border-color-focus;
    }
  }

  &-title {
    display: block;
    padding: $pc-title-padding-y $pc-title-padding-x;
    background: $pc-title-background;
    font-size: $pc-title-font-size;
    border-radius: $pc-title-border-radius;
    border-width: $pc-title-border-width;
    border-style: $pc-title-border-style;
    border-color: $pc-title-border-color;
    transition: $pc-title-transition;
    cursor: pointer;

    &:hover {
      background: $pc-title-background-hover;
    }

    &:focus,
    &:active {
      outline: none;
      background: $pc-title-background-focus;
    }
  }

  &-plate {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &-cell {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    border-radius: $pc-border-radius;
    color: #000;
    background: transparent;
    border: 1px solid transparent;

    &.light {
      color: #939393;
    }

    &.selected {
      background: #249943;
      color: #fff;
    }

    &.active {
      color: #249943;
    }
  }

  &-plate-days {
    &:before {
      position: absolute;
      bottom: 0;
      right: 3px;
      width: 72px;
      height: calc(100% - 36px);
      background: #f2f2f2;
      border-radius: $pc-border-radius;
      content: '';
      z-index: 0;
    }
  }

  &-plate-days &-cell {
    width: 36px;
    height: 36px;
    line-height: 36px;

    // &:nth-child(n+8) {
      cursor: pointer;
    // }
  
    // &:nth-child(n+8):hover,
    // &:nth-child(n+8):focus,
    // &:nth-child(n+8):active {
    //   outline: none;
    //   border: 1px solid #249943;
    // }
    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: 1px solid #249943;
    }
  }

  &-plate-months &-cell {
    width: 80px;
    height: 45px;
    line-height: 32px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: 1px solid #249943;
    }
  }

  &-plate-years &-cell {
    width: 80px;
    height: 45px;
    line-height: 32px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      border: 1px solid #249943;
    }
  }
}
