// Variables
//
// Variables should follow the `$namespace-component-property` formula for
// consistent naming. Ex: $pc-input-font-size and $pc-form-group-gap

// Common styles
$pc-font-family: 			-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$pc-font-size: 				14px !default;
$pc-transition:				.25s !default;
$pc-border-radius: 			6px !default;

// .pc-wrapper
$pc-wrapper-padding: 				15px !default;
$pc-wrapper-box-shadow: 			0 0 6px 1px rgba(60,64,67,0.16) !default;
$pc-wrapper-background: 			#fff !default;

// .pc-form-group
$pc-form-group-font-weight: 	700 !default;
$pc-form-group-spacing: 		5px !default;
$pc-form-group-gap:				10px;

// .pc-input
$pc-input-padding-y: 			7px !default;
$pc-input-padding-x: 			10px !default;
$pc-input-font-size:			$pc-font-size !default;
$pc-input-border-color: 		#eee !default;
$pc-input-border-width: 		1px !default;
$pc-input-border-style:			solid !default;
$pc-input-box-shadow-focus: 	0 0 6px 1px rgba(60,64,67,0.16) !default;
$pc-input-transition:			$pc-transition !default;

$pc-input-border-color-focus: 	darken($pc-input-border-color, 10%) !default;

// .pc-controls
$pc-controls-padding-x: 		0;
$pc-controls-padding-y: 		10px;

// .pc-pointer
$pc-pointer-width: 					15px;
$pc-pointer-height: 				15px;
$pc-pointer-padding-x: 				0;
$pc-pointer-padding-y: 				0;
$pc-pointer-left-background-image: 	url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='451.847' height='451.847'%3E%3Cpath d='M97.141 225.92c0-8.095 3.091-16.192 9.259-22.366L300.689 9.27c12.359-12.359 32.397-12.359 44.751 0 12.354 12.354 12.354 32.388 0 44.748L173.525 225.92l171.903 171.909c12.354 12.354 12.354 32.391 0 44.744-12.354 12.365-32.386 12.365-44.745 0l-194.29-194.281c-6.167-6.177-9.252-14.274-9.252-22.372z'/%3E%3C/svg%3E");
$pc-pointer-right-background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='451.846' height='451.847'%3E%3Cpath d='M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z'/%3E%3C/svg%3E");
$pc-pointer-border-color: 			#000 !default;
$pc-pointer-border-width: 			0px !default;
$pc-pointer-border-style:			solid !default;
$pc-pointer-border-radius:			$pc-border-radius !default;
$pc-pointer-transition: 			$pc-transition;
$pc-pointer-opacity: 				.5;

$pc-pointer-opacity-hover: 			.25;
$pc-pointer-opacity-focus: 			$pc-pointer-opacity-hover;
$pc-pointer-border-color-focus: 	darken($pc-pointer-border-color, 10%) !default;

// .pc-title
$pc-title-padding-x: 			8px;
$pc-title-padding-y: 			4px;
$pc-title-font-size: 			$pc-font-size;
$pc-title-transition: 			$pc-transition;
$pc-title-background: 			#fff;
$pc-title-border-radius: 		$pc-border-radius !default;
$pc-title-border-color: 		#fff !default;
$pc-title-border-width: 		0px !default;
$pc-title-border-style:			solid !default;

$pc-title-background-hover: 	#eee;
$pc-title-background-focus:     $pc-title-background-hover !default;
$pc-title-border-color-focus: 	darken($pc-input-border-color, 10%) !default;

